body {
    background-color: peachpuff;
    color: #000;
    font: 14px helvetica;
    }

    #textinho {
		width: 60%;
		float: right;
		text-align: center;
        }

        #menu {
            
            width: 30%;
            margin: 0; padding: 0;
            float: left;
            }

            #menu ul li {
                margin: 0; padding: 0px;
                border-bottom: 1px solid rgb(70, 49, 49);
                text-align: center;
                list-style-type: none;
                }
                #menu a:link {
                    background: #F5F5F5;
                    color: black;
                    font-weight: bold;
                    text-decoration: inherit;
                    padding: 15px;
                    display: block;
                    }

                    #menu a:hover {
                        background: plum;
                        color: black;
                        }


#user{
    
    position:relative;
    left:5%;
    top:100%;
    width:320px;
    height:200px;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    display: flex;
	flex-direction: column

}






